@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-8">
        <div>
            <h2>Hi there!</h2>
            <p>
                Your looking at the frontpage, of the amazing project....
            </p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h3>Not a member yet?</h3>
            <p>This function is missing validation, and some other stuff... So, its basically not working :-/</p>
            <p><a data-toggle="modal" class="btn btn-default" href="#createAccountModal" role="button">Create account &raquo;</a></p>
        </div>
    </div>
</div>

<!-- Start of: New account modal -->
<div id="createAccountModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">New account, details</h4>
            </div>
            @model global::WebClient.Models.UserViewModel
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <div class="modal-body">
                        <div id="newaccount-container">
                            <div>
                                <div style="width: 75px; float: left;">Username</div>
                                <div style="width: 190px; float: left;" class="short-form">
                                    @Html.EditorFor(model => model.UserName)
                                </div>
                                <div style="width: 75px; float: left;">Password</div>
                                <div style="width: 190px; float: left;" class="short-form">@Html.EditorFor(model => model.Password)</div>
                            </div>
                            <div style="clear: both; padding-top: 35px;">
                                <div style="width: 75px; float: left;">Firstname</div>
                                <div style="width: 190px; float: left;" class="short-form">
                                    @Html.EditorFor(model => model.FirstName)
                                </div>
                                <div style="width: 75px; float: left;">Surname</div>
                                <div style="width: 190px; float: left;" class="short-form">@Html.EditorFor(model => model.SurName)</div>
                            </div>
                            <div style="clear: both; padding-top: 5px;">
                                <div style="width: 75px; float: left;">Street</div>
                                <div style="width: 440px; float: left;" class=" long-form ">@Html.EditorFor(model => model.Street)</div>
                            </div>
                            <div style="clear: both; padding-top: 5px;">
                                <div style="width: 75px; float: left;">Zipcode</div>
                                <div style="width: 60px; float: left;" class="tiny-form">@Html.EditorFor(model => model.ZipCode)</div>
                                <div style="width: 35px; float: left;">City</div>
                                <div style="width: 345px; float: left;" class="medium-form">@Html.EditorFor(model => model.City)</div>
                            </div>
                            <div style="clear: both; padding-top: 35px;">
                                <div style="clear: both;">
                                    <div style="width: 75px; float: left;">Phone no.</div>
                                    <div style="width: 190px; float: left;" class="short-form">@Html.EditorFor(model => model.PhoneNo)</div>
                                    <div style="width: 75px; float: left;">SSN no.</div>
                                    <div style="width: 190px; float: left;" class="short-form">@Html.EditorFor(model => model.Ssn)</div>
                                </div>
                            </div>
                            <div style="clear: both; padding-top: 5px;">
                                <div style="width: 75px; float: left;">Email</div>
                                <div style="width: 440px; float: left;" class=" long-form ">@Html.EditorFor(model => model.EMail)</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create account</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>
<!-- End of: New account modal -->