@using System.Web.Optimization
@model global::WebClient.Models.UserViewModel

@{
    ViewBag.Title = "Opret bruger";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Opret en ny bruger til rejsekortet</legend>
        <div>
            <div style="width: 75px; float: left;">Brugernavn <span style="color: red;">@Html.ValidationMessageFor(model => model.UserName)</span></div>
            <div style="width: 190px; float: left;" class="short-form">
                @Html.EditorFor(model => model.UserName)
            </div>
            <div style="width: 75px; float: left;">Kodeord <span style="color: red;">@Html.ValidationMessageFor(model => model.Password)</span></div>
            <div style="width: 190px; float: left;" class="short-form">@Html.EditorFor(model => model.Password)</div>
        </div>
        <div style="clear: both; padding-top: 35px;">
            <div style="width: 75px; float: left;">Fornavn <span style="color: red;">@Html.ValidationMessageFor(model => model.FirstName)</span></div>
            <div style="width: 190px; float: left;" class="short-form">
                @Html.EditorFor(model => model.FirstName)
            </div>
            <div style="width: 75px; float: left;">Efternavn <span style="color: red;">@Html.ValidationMessageFor(model => model.SurName)</span></div>
            <div style="width: 190px; float: left;" class="short-form">@Html.EditorFor(model => model.SurName)</div>
        </div>
        <div style="clear: both; padding-top: 5px;">
            <div style="width: 75px; float: left;">Gade <span style="color: red;">@Html.ValidationMessageFor(model => model.Street)</span></div>
            <div style="width: 440px; float: left;" class=" long-form ">@Html.EditorFor(model => model.Street)</div>
        </div>
        <div style="clear: both; padding-top: 5px;">
            <div style="width: 75px; float: left;">Post# <span style="color: red;">@Html.ValidationMessageFor(model => model.ZipCode)</span></div>
            <div style="width: 60px; float: left;" class="tiny-form">@Html.TextBoxFor(model => model.ZipCode, new { @id = "TxtZipCode" })</div>
            <div style="width: 35px; float: left;">By</div>
            <div style="width: 345px; float: left;" class="medium-form">
                @Html.TextBoxFor(model => model.City, new { disabled = "disabled", @readonly = "readonly", @id = "TxtCity" })
                <span style="color: red;">@Html.ValidationMessageFor(model => model.City)</span>
            </div>
        </div>

        <div style="clear: both; padding-top: 35px;">
            <div style="clear: both;">
                <div style="width: 75px; float: left;">Telefon <span style="color: red;">@Html.ValidationMessageFor(model => model.PhoneNo)</span></div>
                <div style="width: 190px; float: left;" class="short-form">@Html.EditorFor(model => model.PhoneNo)</div>
                <div style="width: 75px; float: left;">CPR <span style="color: red;">@Html.ValidationMessageFor(model => model.Ssn)</span></div>
                <div style="width: 190px; float: left;" class="short-form">@Html.EditorFor(model => model.Ssn)</div>
            </div>
        </div>
        <div style="clear: both; padding-top: 5px;">
            <div style="width: 75px; float: left;">Email <span style="color: red;">@Html.ValidationMessageFor(model => model.EMail)</span></div>
            <div style="width: 440px; float: left;" class=" long-form ">@Html.EditorFor(model => model.EMail)</div>
        </div>
        <br/>
        <br/>
        <div>
            <button type="submit" class="btn btn-default">Opret</button>
        </div>
    </fieldset>
}

<script language="javascript">
    $('#TxtZipCode').change(function () {
        var recordId = this.value;
        $.getJSON("/User/GetCityByZipCode",
            {
                zipCode: recordId
            },
            function (data) {
                $('#TxtCity').val(data.CityName);
            });
    });
</script>

<div>
    @Html.ActionLink("Tilbage til start", "Index", "Home")
</div>
