@using System.Web.Optimization
@model global::WebClient.Models.DepositViewModel

@{
    ViewBag.Title = "Indbetaling til Rejsekort";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <legend>Indbetal til Rejsekort</legend>
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Balance)
            <span>No balance exists!</span>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            <span style="color: red;">@Html.ValidationMessageFor(model => model.Amount)</span>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CreditCardNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreditCardNumber)
            <span style="color: red;">@Html.ValidationMessageFor(model => model.CreditCardNumber)</span>
        </div>
        <div>
            <input type="submit" value="Betal" />
            @if (Model != null && Model.Message != null)
            {
                <span style="color: green">@Model.Message</span>
            }
        </div>
    </fieldset>
    
}

<div>
    @Html.ActionLink("Back to Account", "Index", "Account")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}